.right_sidebar {
    background-color: rgb(215, 215, 215);
    max-width: 25%;
    min-width: 25%;
    border-radius: 5px !important;
}
.right_column_wrapper {
    display:flex;
    justify-content: center;
    padding:1rem;
    flex-direction: column;
}
.recent_message_avatars {
    display:flex;
    gap:10px;
    margin-bottom: 10px;
}
.recent_message_container {
    margin-top: 10px;
    padding:1rem;
    border-top-style: solid;
    border-top-width: 1.5px;
}
.popular_container {
    padding:1rem;
}
.recent_message_online {
    position: relative;
    min-width: 7px;
    max-width: 7px;
    min-height: 7px;
    max-height: 7px;
    border-radius: 50%;
    color:rgb(0, 128, 0);
    background-color: green;
    border-style: solid;
    top:-10px;
    left:25px;
    border-style: solid;
    border-color: rgb(232, 231, 231);
    margin:0;
}
.recent_message_names {
    color:black;
    font-weight: 500;
}
@media (max-width:786px){
    .right_sidebar{
        display:none;
    }
}