.uploadcare--widget__button,
.uploadcare--widget__dragndrop-area,
.uploadcare--progress,
.uploadcare--widget__text {
  display: none;
}

/* .profile_upload_button {
    position: relative;
    bottom: 25px;
    left:65px;
} */