.signup_label {
    display:flex;
    flex-direction: column;
    margin: 15px 0px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    color:rgb(85, 128, 227)
}
.signup_username{
    color:white;
}