.signup_label {
    display:flex;
    flex-direction: column;
    margin: 15px 0px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    color:rgb(85, 128, 227)
}
.signup_username{
    color:white;
}
.signup_sideimage_logo {
    max-width: 50%;
}
.signup_action_buttons {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
}
.signup-container{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    box-sizing: border-box;
    background:#ffffff38;
    width:450px;
    padding:30px;
    border-style: solid;
    border-radius: 15px;
    font-family: 'Mulish', sans-serif;
    backdrop-filter: blur(20px);
}
.tools {
    font-size: 2rem !important;
    color:black !important;
}
.space{
    display:flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:999px) {
    .signup_sideimage_logo {
        display:none
    }
    .signup-container{
        margin:1rem;
    }
}
@media(max-width:281px) {
    .signup-container{
        margin:.2rem;
    }
    .signup-title {
        font-size: 1rem;
    }
}
