.profile_background {
    height:100vh;
    background: linear-gradient(356deg,white 73%, rgba(0, 0, 0, 0.473) 73%);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.Profile_picture_section {
    display: flex;
    flex-direction: column;
}
.outer_profile_container {
    height:65%;
    width: 50%;
    padding:2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    border-radius: 50px;
    gap:75px;
}
.social_media_bar {
    display: flex;
    gap:1%;
}
.Connect_title {
    margin-bottom: 10px;
}