.profile_background {
    min-height:100vh;
    background: linear-gradient(356deg,white 73%, rgba(0, 0, 0, 0.409) 73%);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    resize:both;git b
}
.Profile_picture_section {
    display: flex;
    flex-direction: column;
}
.outer_profile_container {
    height:65%;
    width: 50%;
    padding:2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    border-radius: 50px;
    gap:75px;
    position: absolute;
}
.social_media_bar {
    display: flex;
    gap:1%;
}
.Connect_title {
    margin-bottom: 10px;
}
.About_Me_Edit_Button:hover {
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.4);
    padding:5px;
}
.top_profile_container {
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:30%;
}
.description_box {
    width:50%;
}
@media(max-width:1450px) {
    .outer_profile_container{
        width:70%;
        gap:25px;
    }
    .top_profile_container{
        align-items: flex-end;
    }
    .profile_sidebox_container{
        margin-top: 25%;
    }
    .description_box {
        width:100%;
    }  
}
@media (max-width:1281px) {
    .outer_profile_container {
        position: unset;
    }
}
@media(max-width:954px) {
    .outer_profile_container{
        width:90%;
    }
    .profile_sidebox_listItems {
        padding: 0 !important;
    }
    .profile_sidebox_container{
        margin-top: 15%;
    }
   
}
/* right one */
@media (max-width:678px) {
    .profile_sidebox_container{
        display: none;
    } 
    .outer_profile_container {
        width:100%;
    }
    .top_profile_container{
        justify-content: center;
    }
    .Profile_picture_section{
        align-items: center;
    } 
=======
.profile_background_center_area {
    height: 70%;
    background: linear-gradient(356deg,white 1rem, transparent 1rem);
}
html 
{
  min-height: 100%;
} 
@media (max-width:500px) {
    .profile_background {
        background: white;
    }
}
@media (max-width:322px) {
    .outer_profile_container {
        padding: 5px;
    }
} 

